@model Microsoft.AspNetCore.Identity.IdentityRole

<form method="post" asp-area="admin" asp-controller="UserRole" asp-action="AddRole">
    <div>
        <label asp-for="Name">Название роли</label><br />
        <input asp-for="Name" name="Name"/>
        <span asp-validation-for="Name"></span>
    </div>
    <br />
    <button class="btm btn-success" type="submit">Создать</button>
</form>
