@using OnlineShopWebApplication.Areas.Admin.Models
@model AddProductViewModel

@{
    ViewBag.Title = "";
}

<h2>Добавление нового продукта</h2>
<form method="post" asp-area="admin" asp-controller="product" asp-action="add" enctype="multipart/form-data">
    <div>
        <div>
            <label>Выберите марку</label>
            @Html.DropDownListFor(model => model.Mark, ViewBag.marks as SelectList);
        </div>
        <div>
            <label>Выберите модель</label>
            @Html.DropDownListFor(model => model.Model, ViewBag.models as SelectList);
        </div>
        <div>
            <label asp-for="Description">Описание: </label><br />
            <input asp-for="Description" type="text" name="Description" />
            <span asp-validation-for="Description"></span>
        </div>
        <div>
            <label asp-for="Cost">Стоимость: </label><br />
            <input asp-for="Cost" type="number" name="Cost" />
            <span asp-validation-for="Cost"></span>
        </div>
        <div>
            <label asp-for="FileToUpload">ImagePath: </label><br />
            <input asp-for="FileToUpload" type="file" name="FileToUpload" />
            <span asp-validation-for="FileToUpload"></span>
        </div>
        <button class="btn btn-success" type="submit">Добавить</button>
    </div>
</form>
