

Укажите данные для доставки @Constants.UserId
<form method="post" asp-controller="order" asp-action="success">
        <div>
            <label>Имя:</label><br />
            <input type="text" name="name" required />
        </div>
        <div>
            <label>Телефон:</label><br />
            <input type="number" name="phone" required />
        </div>
        <div>
            <label>Адрес доставки:</label><br />
            <input type="text" name="address" required />
        </div>

    <br />
    <input type="checkbox" name="agree" /> Подтверждаю корректность данных.

    <br />
    <button class="btn btn-success" type="submit">Оформить</button>
</form>

