@model List<UserClass>

    <div class="row">
        @await Html.PartialAsync("AdminLeftMenu")

        <div class="col-9">
            <p style="text-align:center">Пользователи</p>
        </div>
    </div>