@using OnlineShopWebApplication.Areas.Admin.Models
@model List<RoleUsersViewModel>

<div class="row">
    @await Html.PartialAsync("AdminLeftMenu")

    <div class="col-9">
        <h3>Список ролей</h3>
        <a asp-area="admin" asp-controller="UserRole" asp-action="AddUserRole">Добавить новую роль</a>
        <table class="table-bordered" width="100%">
            <tr>
                <th>Наименование</th>
                <th>Пользователи</th>
                <th></th>
            </tr>
            @foreach (var role in @Model)
            {
                <tr>
                    <td>@role.Role</td>
                    <td>@string.Join(", ", role.UsersInRole)</td>
                    <td><a asp-area="admin" asp-controller="userrole" asp-action="removeuserrole" asp-route-userRoleId="@role.Id">Удалить</a></td>
                </tr>
            }
        </table>
    </div>
</div>