@model UserViewModel

<h2>Регистрация</h2>
<form method="post" asp-controller="user" asp-action="register">
    <div>
        <div>
            <label asp-for="Name">Имя: </label><br />
            <input type="text" name="Name" asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="Email">Email: </label><br />
            <input type="email" name="Email" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Age">Возраст: </label><br />
            <input type="number" name="Age" asp-for="Age" />
            <span asp-validation-for="Age"></span>
        </div>
        <div>
            <label asp-for="Password">Пароль: </label><br />
            <input type="password" name="Password" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="ComparePassword">Повторите пароль: </label><br />
            <input type="password" name="ComparePassword" asp-for="ComparePassword" />
            <span asp-validation-for="ComparePassword"></span>
        </div>
        <button class="btn btn-success" type="submit">Зарегистрироваться</button>
    </div>
</form>
