@model RegisterViewModel

@{ Random random = new Random();
    string randomPass = "";
    for (int i = 0; i < 2; i++)
    {
        randomPass += Convert.ToChar(random.Next(33, 47));
        randomPass += Convert.ToChar(random.Next(48, 57));
        randomPass += Convert.ToChar(random.Next(65, 90));
        randomPass += Convert.ToChar(random.Next(97, 122));
    }
}

<h2>Добавление нового пользователя</h2>
<form method="post" asp-area="admin" asp-controller="account" asp-action="add">
    <div>
        <div>
            <label asp-for="UserName">Имя: </label><br />
            <input asp-for="UserName" type="text" name="UserName" />
            <span asp-validation-for="UserName"></span>
        </div>
        <div>
            <label asp-for="Email">Email: </label><br />
            <input asp-for="Email" type="email" name="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password">Пароль: </label><br />
            <input asp-for="Password" type="text" name="Password" value="@randomPass" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="ComparePassword">Пароль: </label><br />
            <input asp-for="ComparePassword" type="text" name="ComparePassword" value="@randomPass" />
            <span asp-validation-for="ComparePassword"></span>
        </div>
        <button class="btn btn-success" type="submit">Добавить</button>
    </div>
</form>
