@model User

<h2>Редактирование пользователя</h2>
<form method="post" asp-area="admin" asp-controller="account" asp-action="SaveUser">
    <div>
        <div>
            <input type="text" name="userId" value="@Model.Id" hidden/>
            <div>
                <label asp-for="UserName">Имя: </label><br />
                <input asp-for="UserName" type="text" value="@Model.UserName" name="UserName" />
                <span asp-validation-for="UserName"></span>
            </div>
            <div>
                <label asp-for="Email">Email: </label><br />
                <input asp-for="Email" type="email" value="@Model.Email" name="Email" />
                <span asp-validation-for="Email"></span>
            </div>
@*            <div>
                <label asp-for="Role">Роль: </label><br />
                <input asp-for="Role" type="text" value="@Model.Role" name="Role" />
                <span asp-validation-for="Role"></span>
            </div>*@
        </div>
        <button class="btn btn-success" type="submit">Сохранить изменения</button>
    </div>
</form>
