@model RegisterViewModel

<h2>Регистрация</h2>
<form method="post" asp-controller="Account" asp-action="register">
    <div>
        <input type="hidden" name="returnURL" value="@Model.ReturnURL" />
        <div>
            <label asp-for="UserName">Имя: </label><br />
            <input type="text" name="UserName" asp-for="UserName" />
            <span asp-validation-for="UserName"></span>
        </div>
        <div>
            <label asp-for="Email">Email: </label><br />
            <input type="email" name="Email" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password">Пароль: </label><br />
            <input type="password" name="Password" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="ComparePassword">Повторите пароль: </label><br />
            <input type="password" name="ComparePassword" asp-for="ComparePassword" />
            <span asp-validation-for="ComparePassword"></span>
        </div>
        <button class="btn btn-success" type="submit">Зарегистрироваться</button>
    </div>
</form>
