@model List<ProductClass>

<table>
    <tr>
        <td class="col-3">
            <ul>
                <li><a asp-controller="admin" asp-action="orders">Заказы</a></li>
                <li><a asp-controller="admin" asp-action="products">Продукты</a></li>
                <li><a asp-controller="admin" asp-action="users">Пользователи</a></li>
                <li><a asp-controller="admin" asp-action="roles">Роли</a></li>
            </ul>
        </td>
        <td class="col-9">
            <p style="text-align:center">Роли</p>
        </td>
    </tr>
</table>