<div class="col-3" style="border:5px solid; border-radius: 3px">
    <div>
        <a asp-area="admin" asp-controller="admin" asp-action="orders">Заказы</a>
    </div>
    <div>
        <a asp-area="admin" asp-controller="admin" asp-action="products">Товары</a>
    </div>
        <div>
        <a asp-area="admin" asp-controller="admin" asp-action="marks">Марки автомобилей</a>
    </div>
    <div>
        <a asp-area="admin" asp-controller="admin" asp-action="models">Модели автомобилей</a>
    </div>
    <div>
        <a asp-area="admin" asp-controller="admin" asp-action="users">Пользователи</a>
    </div>
    <div>
        <a asp-area="admin" asp-controller="admin" asp-action="UserRoles">Роли</a>
    </div>
</div>