<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - OnlineShopWebApplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Учебный проект</a>
    </div>
</footer>