<form method="post">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OnlineShopWebApplication</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">На главную</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index">Корзина<sup style="color:red">@await Component.InvokeAsync("Cart")</sup></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="compare" asp-action="Index">Список сравнения</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="favorite" asp-action="Index">Избранное</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="user" asp-action="LoginForm">Вход</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="user" asp-action="RegisterForm">Регистрация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="admin" asp-action="orders">Админ</a>
                        </li>
                        <li>
                            <input type="search" name="searchText" onkeydown="search()" placeholder="Поиск">
                        </li>
                        <li>
                            <button class="btn" type="submit" id="searchButton" asp-controller="search" asp-action="index">&#128269;</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</form>

<script>
    function search() {
        if (event.code == 'Enter') {
            var text = document.getElementById('searchtext');
            document.getElementById('searchButton').click()
        }
    }
</script>