@model List<ProductClass>

@{
    ViewData["Title"] = "Home Page";
}

<p style="text-align:right">
    <a class="btn-light" href="/cart/index">Корзина</a>
</p>

<div class="row">
    @foreach (var product in @Model)
    {
        <div class="col-3 card shadow">
            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/d/df/Lamborghini-Diablo.jpg">
            <h3 style="color:aqua">@product.ID</h3>
            <a style="color:blue" href="/product/index/@product.ID">
                <h3>@product.Name</h3>
            </a>
            <h5>@product.Cost</h5>
            <a href="/cart/add?ID=@product.ID" class="btn-dark">Купить</a>
            <p>
        </div>

    }`
</div>



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
