@model List<ProductClass>

@{
    ViewData["Title"] = "Автомагазин";
}

<div class="row">
    @foreach (var product in @Model)
    {
        <div class="col-3 border-success shadow">
            <br>
            <a href="/product/index/@product.ID"><img class="card-img-top" src=@product.ImagePath height="150"></a>
            <a style="color:blue" href="/product/index/@product.ID">
                <h3>@product.Name</h3>
            </a>
            <h5>@product.Cost</h5>
            <a href="/cart/add?productId=@product.ID" class=" btn btn-success">Купить</a>
            <p>
        </div>
     }
</div>

